# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to change owner of /sys/class/power_supply/usb/*
allow init sysfs_battery_supply:file { w_file_perms setattr };
